node_modules/
src/
public/

.babelrc
.gitignore
.npmignore
jest.config.js

*.test.js
setupTests.js

.DS_Store
Thumbs.db
*.sublime*
*.idea*
*.vscode*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/LICENSE

*.log
